@font-face {
    font-family: 'Argh';
    src: url('../fonts/Aaargh-webfont.eot');
    src: url('../fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aaargh-webfont.woff') format('woff'),
         url('../fonts/Aaargh-webfont.ttf') format('truetype'),
         url('../fonts/Aaargh-webfont.svg#silkscreenbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Anagram';
    src: url('../fonts/Anagram-webfont.eot');
    src: url('../fonts/Anagram-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Anagram-webfont.woff') format('woff'),
         url('../fonts/Anagram-webfont.ttf') format('truetype'),
         url('../fonts/Anagram-webfont.svg#silkscreenbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Journal';
    src: url('../fonts/journal-webfont.eot');
    src: url('../fonts/journal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/journal-webfont.woff') format('woff'),
         url('../fonts/journal-webfont.ttf') format('truetype'),
         url('../fonts/journal-webfont.svg#silkscreenbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Learning-Curve';
    src: url('../fonts/LearningCurve_OT-webfont.eot');
    src: url('../fonts/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LearningCurve_OT-webfont.woff') format('woff'),
         url('../fonts/LearningCurve_OT-webfont.ttf') format('truetype'),
         url('../fonts/LearningCurve_OT-webfont.svg#silkscreenbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	background-color: #ffffff;
	z-index: 6;
}
header ul {
	width: 92%;
	text-align: right;
}
header ul li {
	display: inline-block;
	margin-top: 1%;
	margin-right: 4%;
	margin-bottom: 1%;
	list-style: none;
}
header a {
	text-decoration: none;
	font-family: 'Learning-Curve', Helvetica, sans-serif;
	color: #171036;
	font-size: 200%;
	font-weight: 600;
}
header a:hover {
	color: #ff0000;
}
content {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.banner-main {
	position: relative;
	width: 100%;
	height: 0;
	background-color: #ec8101;
	background: rgba(236,129,1,1);
	background-image: url(../img/gatito.svg);
	background-position: 0 2px;
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 56.3%;
	margin: 6.8% 0 0;
	transition: background-color 2s;
}
.banner-main:hover, .banner-main:focus {
	background-color: #003366;

}
.logo {
	position: absolute;
	top: 10%;
	right: 0;
	left: 0;
	width: 100%;
	height: 17%;
	margin: auto;
	font-family: 'Anagram', Helvetica, sans-serif;
	color: #ffffff;
	font-size: 64px;
	font-weight: 100;
	text-align: center;
}
.moon {
	position: absolute;
	top: 29%;
	right: 0;
	left: 0;
	width: 10%;
	height: 17%;
	background-color: #fefcd7;
	border-radius: 50%;
	margin: auto;
	transition: top 2s, left 2s;
}
.banner-main:hover .moon, .banner-main:focus .moon {
	top: 48%;
	left: -5%;
}
#yo {
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 0;
}
h2 {
	width: 100%;
	font-family: 'Learning-Curve', Helvetica, sans-serif;
	font-size: 46px;
	color: #171036;
	text-align: center;
}
p {
	width: 60%;
	margin: 2% auto;
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 24px;
	color: #171036;
	text-align: center;
	line-height: 1.5;
}
#contenedor-trabajo {
	height: auto;
	padding: 0;
	margin: 0 0 0;
	overflow: auto;
}
#trabajo {
	position: relative;
	float: left;
	width: 50%;
	height: 0;
	background-color: #e83944;
	padding: 33.3% 0 0 0;
	margin: 0;
}
#trabajo h2 {
	position: absolute;
	height: 20%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	font-size: 64px;
	color: #ffffff;
}
.contenedor-slider {
	float: left;
	position: relative;
	width: 50%;
	padding-top: 10%;
	margin-top: -10%;
}
.contenedor-slider .area-click {
	width: 32px;
	height: auto;
	overflow: auto;
}
.preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 106%;
	padding: 86.7% 0 0 0;
	margin: 0;
}
.preview {
	background-image: url(../img/videocine-preview.jpg);	
}
#conver:target,
#conver:target .flechita,
#gatopardo:target,
#gatopardo:target .flechita,
#videocine:target,
#videocine:target .flechita {
	z-index: 5;	
}
#conver:target .preview {
	background-image: url(../img/conver-preview.png);	
}
#gatopardo:target .preview {
	background-image: url(../img/gatopardo-preview.png);	
}
#videocine:target .preview {
	background-image: url(../img/videocine-preview.jpg);	
}
.preview div {
	display: none;
	position: absolute;
	top: 23%;
	left: 0;
	width: 100%;
	height: 77%;
	background-color: rgba(232,57,68, 0.6) ;
	padding: 0;
	margin: 0;
	
}
.preview div p {
	width: 70%;
	padding: 25% 0 0 0;
	margin: 0 auto;
	font-size: 1.25rem;
	color: #ffffff;
	text-align: center;
}
#conver:hover div, #conver:focus div,
#gatopardo:hover div, #gatopardo:focus div,
#videocine:hover div, #videocine:focus div  {
	display: inherit;
}
.flechita {
	position: absolute;
	width: 32px;
	height: 55px;
	top: 225%;
	margin: auto;
	font-size: 28px;
	color: #ffffff;
	line-height: 2.3;
	z-index: 4;
}
.fa-chevron-left {
	left: 1%;
}
.fa-chevron-right {
	right: 1%;
}
#contacto {
	padding-top: 5%;
	margin-top: 0;
}
#contacto h2 {
	margin-top: 2%;
	margin-bottom: 0;
}
.gatito-contacto {
	display: block;
	width: 245px;
	padding-left: 50px;
	margin: 0 auto;
}
.icon-linkedin {
	display: block;
	width: 27px;
	height: 32px;
	margin: 0 auto 15px;
	color: #e83944;
	text-decoration: none;
}
.icon-linkedin i {
	font-size: 32px;
}
.icon-linkedin:hover {
	background-color: #e83944;
	color: #ffffff;
}
.boton-correo {
	display: block;
	width: 58px;
	height: 46px;
	background-color: #e83944;
	padding: 0;
	border-radius: 5px;
	margin: 0 auto 5%;
	font-family: 'Journal', Helvetica, sans-serif;
	font-size: 42px;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	line-height: 0;
}
.boton-correo:hover {
	color: #d3d3d3;
}
footer {
	width: 85%;
	border-top: 1px solid #e83944;
	margin: auto;
}
footer p {
	margin: 3% auto 5%;
	font-size: 12px;
}
footer span {
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	header ul {
		width: 84%;
	}
	.preview div p {
		font-size: 0.8rem;
	}
	.contenedor-slider {
	    margin-top: -30%;
	    padding-top: 30%;
	}
	.flechita {
	    top: 139%;
	}
	.preview {
		background-position: 0 101%;
	    padding: 126.7% 0 0;
	}
	.preview div {
	    height: 56%;
	    top: 44%;
	}
	#conver:hover .preview div, #conver:focus .preview div,
	#gatopardo:hover .preview div, #gatopardo:focus .preview div,
	#videocine:hover .preview div, #videocine:focus .preview div  {
		display: none;
	}
}

@media screen and (max-width: 660px) {
	header ul {
		width: 84%;
	}
	.preview div p {
		font-size: 0.8rem;
	}
	.contenedor-slider {
	    margin-top: -30%;
	    padding-top: 30%;
	}
	.flechita {
	    top: 139%;
	}
	.preview {
		background-position: 0 101%;
	    padding: 126.7% 0 0;
	}
	.preview div {
	    height: 56%;
	    top: 44%;
	}
}
@media screen and (max-width: 400px) {
	.logo {
		top: 62%;
	}
	#yo {
		padding-top: 13%;
	}
	#yo p {
		width: 80%;
	}
	#trabajo h2 {
		height: 40%;
	}
	.preview div p {
		padding-top: 7%;
	}
	.fa-chevron-right {
		text-align: center;
	}
}
